<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="lag_1" connectionString="Data Source=DESKTOP-VEJCNRD;Initial Catalog=magazin_produse_electrice_profesionale_pentru_par;User ID=sa;Password=fah678"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>